<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact Us</title>
    <style>
    * {
        font-family: 'Poppins', sans-serif;
    }
    .wraper{
        max-width:900px;
        margin: 0 auto; 
        background-color: #FAFAFA;
        min-height: 500px;
    }
    .mail-heading{
        text-align: center;
        font-size: 30px;
        padding: 10px;
        color: #b8a45d;
    }
    </style>
</head>
<body>
    <div class="wraper">
        <h1 class="mail-heading">Contact Mail</h1>
        <h5>From</h5>
        <p>
            Test user <br>
            98656598656 <br>
            test@mail.com <br>
        </p>
    </div>
</body>
</html>